.grid_container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
}
.space{
    margin:5px 10px;
    padding:5px;
}

.padding{
    padding:15px;
}
textarea{
    border-radius: 10px;
    border: 3px solid black;
    padding:20vw;
}

.background{
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    text-align: center;
}

aside{
    grid-column:1/2;
}

main{
    grid-column:2/-1;
}

footer{
    display: grid;
    grid-column:2/-1;
    padding-bottom: 50vh;
    
}

footer h2{
    grid-column:3/4;
    text-align: center;
}
footer div{
    grid-column:3/4;
    text-align: center;
}
.flex_container1{
    display:flex;
    justify-content: space-between;
}
.flex_container2{
    display:flex;
    justify-content: end;
}

body aside{
    color:#0000E0;
    background-color: #E5E0E0;
}

main{
    background-color: #EADCDC;

}

main h1,h2{
    color:#0000E0;
    font-family: 'Montserrat', sans-serif;
}

.color1{
    color:rgb(62, 114, 135)
}

textarea{
    padding:0;
}

@media screen and (max-width:600px){
    aside, main, footer{
        grid-column:1/-1;
        position: relative;
    }
    aside li{
        text-align: center;
        list-style-type: none;
    }


}
